html, body, div,
h1, h2, h3,
button, input {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font: 62.6% 'Arial', 'Calibri', sans-serif;
	color: #000;
}

body {
	text-align: center;
}

label {
	margin-left: 1rem;
}