html, body,
input, button {
  margin: 0;
  padding: 0;
}

html {
  font: 62.5% 'Arial', sans-serif;
  color: #000;
}

input {
  vertical-align: bottom;

  &[type="checkbox"] {
    width: 2rem;
    height: 2rem;
  }
}